.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_input_field {
    background-color: white;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}