body {
    background-color: #ffffff;
    display: grid;
    font-size: 15px;
    font-family: 'Space Mono', monospace;

    grid-template-areas:
        "header"
        "banner"
        "main"
        "footer";

    grid-template-columns: auto;
    grid-template-rows: 50px 30vh auto;
}

html {
    scroll-behavior: smooth;
}


header {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;

    padding: 0.5rem;
    position: fixed;
    height: 5%;
    width: calc(100% - 15px);


    grid-area: header;
}

.searchbar {
    background-color: #f1f1f1;
    border-radius: 30px;
    align-items: flex-end;
    width: 300px;
}

.search {
    background-color: inherit;
    border-radius: 30px;
}

.banner {
    display: flex;
    margin-top: 45px;
    width: 100%;
    max-height: 250px;

    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 45px);

    align-items: flex-end;
}

.banner_text {
    color: white;
}

.banner_text_title,
.banner_text_subtitle {
    font-weight: 300;
}

.banner_elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 80px;
}

.btn {
    padding: 10px;
    text-decoration: none;
}

#banner_btn {
    background-color: #2a7ae4;
    color: white;
}

#header_btn {
    background-color: none;
    color: #a7c9f4;
    border: 2px solid #a7c9f4;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
    margin-bottom: 5%;
    max-width: 100%;
}

section {
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;


    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#about_me {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
}

.card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    max-width: 200px;
    max-height: 250px;
    width: 100%;
    height: 100%;

    height: auto;
    position: inherit;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.5s;
}

.card>* {
    padding: 10px;
}

.card .card_icon {
    max-width: 200px;
    max-height: 200px;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.card_information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.card .card_title {
    margin-bottom: 8px;
}

.card_text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.go-to-product {
    margin-top: 8px;
    text-decoration: none;
    color: #2a7ae4;
}

.card:hover {}

.project_card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.project_card {
    width: 800px;
    height: 300px;
    position: inherit;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.project_card_info {
    justify-content: space-around;
}

.card_icon {
    max-width: 300px;
    max-height: 300px;
    background-position: center center;
    background-size: cover;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.input_container--invalid {}

span {
    color: red;
    margin: 5px 5px 5px 5px;
}

input,
textarea {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;

    padding: 10px;
    border-radius: 3px;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    color: #222;
    transition: color 0.3s ease;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.contact_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: #eaf2fd;
    grid-area: footer;
    text-align: center;
}